// Body
$body-bg: #e7ebf2 !default;;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$grid-breakpoints: (
  xs: 0,
  sm: 640px, // 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$blue-deusto:    #0153ce;

$theme-colors: (
  "primary":    $blue-deusto, //$primary
  "light":    $body-bg //$primary
) !default;